<label for="server-name">Server Name</label>
<!-- <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"> -->
<input
  type="text"
  id="server-name"
  class="form-control"
  [(ngModel)]="serverName"
/>
<!-- <p>{{serverName}}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add server
</button>
<hr />
<label for="user-name">User Name</label>
<input type="text" id="user-name" class="form-control" [(ngModel)]="userName" />
<p>{{ userName }}</p>
<button
  class="btn btn-success"
  [disabled]="!userName"
  (click)="onResetUsername()"
>
  Add user
</button>
<hr />
<p [innerText]="allowNewServer"></p>
<p *ngIf="isServerCreated; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer>
  <p>No server was created</p>
</ng-template>
<app-server *ngFor="let server of servers" [serverName]="server"> </app-server>
